# ===============================================
#              DASHBOARD CONFIG
# ==============================================

VITE_URL=http://192.168.29.118:5173             # URL for Dashboard. 
VITE_SERVER_PORT=8000                           # PORT on which Uvicorn(fastapi) server will be of Dashboard

# Add additional origins separated by commas, or use * to allow all.
ALLOWED_ORIGINS=http://localhost:5173,http://192.168.29.118:5173,*

# VITE_API_URL=http://192.168.29.118:8000
# VITE_NAVIDROME_URL=http://192.168.29.118:4533
MY_DOMAIN=192.168.29.118
